@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="UploadImage" method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <button type="submit">Upload Image</button>
</form>

